.Acao {
    background: rgb(35,4,67);
    background: linear-gradient(142deg, rgba(35,4,67,1) 15%, rgba(52,8,86,1) 30%, rgba(61,11,96,1) 45%, rgba(75,0,129,1) 60%, rgba(127,0,178,1) 75%, rgba(216,106,255,1) 90%);
    overflow-y: auto;
}
* {
    margin: 0;
}