.row-container{
    margin-left: 20px;
    color: white;
}

.row-cards-container {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
    flex-wrap: nowrap; /* Impede a quebra de linha */
    align-items: center; /* Alinha verticalmente os botões e os cartões */
}

.scroll-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    border-radius: 50%; /* Transforma os botões em círculos */
    width: 48px; /* Tamanho dos botões */
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c1bdda;
    transition: background-color 0.3s ease-in-out;
}

.scroll-button:hover {
    background-color: rgba(193, 189, 218, 0.3); /* Cor de fundo ligeiramente escura */
}


.row-cards {
    display: flex;
    overflow-x: scroll;
    padding: 20px;
    width: calc(100% - 40px); /* Largura do contêiner */

}

.row-cards::-webkit-scrollbar{
    display: none;
}

.row-cards-container::-webkit-scrollbar {
    display: none;
}

.movie-card-content{
    max-height: 400px;
    transition: transform 450ms;
}

.movie-image{
    max-height: 200px;
    margin-bottom: 10px;
}

.movie-image-large{
    max-height: 250px;
    margin-bottom: 10px;
}

.movie-card-content:hover {
    transform: scale(1.08);
    background-color: rgba(35,4,67, 0.5); /* Fundo ligeiramente escuro com visibilidade aumentada ao passar o mouse */
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
}

