.video-info-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
  
.modal-content {
    background-color: rgba(35,4,67,1);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}
  
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}  

.video-info-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Certifique-se de que o VideoInfo esteja acima de tudo */
}

.video-info-content {
    background-color:rgba(35,4,67,1);
    padding: 20px;
    border-radius: 10px;
    width: 70%; /* 70% da largura da janela do navegador */
    max-width: 800px; /* Largura máxima */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}
