.nav-container{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 20px;
    /*Animacao*/
    transition-timing-function: ease-in;
    transition: all 0.5s;
    z-index: 1;
    background-color: rgba(35, 4, 67, 0.5);
}

.nav-logo {
    position: fixed;
    left: 20px;
    width: 200px;
    object-fit: contain;
}

.nav-avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
    cursor: pointer;
}

.buttons-nav-container {
    display: fixed;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.nav-container-black{
    background-color: rgb(35,4,67);
    height: 80px;
}

.buttons-nav-container {
    display: flex;
}

.buttons-nav {
    background-color: rgba(35, 4, 67, 0.01); /* Fundo ligeiramente escuro e com baixa visibilidade */
    border: none; /* Remover a borda padrão */
    color: #c1bdda; /* Cor da fonte */
    padding: 0 30px; /* Espaçamento entre o texto e as bordas do botão */
    height: 80px; /* Altura dos botões */
    line-height: 80px; /* Centraliza verticalmente o texto */
    cursor: pointer; /* Cursor de apontador ao passar o mouse */

    /* Transição da opacidade */
    transition: opacity 0.3s ease-in-out;
}

.buttons-nav:hover {
    background-color: rgba(193, 189, 218, 0.5); /* Fundo ligeiramente escuro com visibilidade aumentada ao passar o mouse */
    opacity: 1; /* Aumenta a opacidade ao passar o mouse */
}

.modal{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    z-index: 1;
    background-color: rgba(35, 4, 67, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.close{
    position: absolute;
    color: white;
    top: 20px;
    right: 20px;
    width: 30px;
    font-size: 30px;
    font-weight: bold;
    object-fit: contain;
    cursor: pointer;
}

.profile-button{
    display: block;
    margin-top: 10px;
    margin-left: 100px;
    padding: 5px 10px;
    min-width: 150px;
    border: none;
    border-radius: 8px;
    font-family: Anonymous Pro, monospace;
    font-weight: bold;
    font-size: 24px;
    background-color: white;
    color: darkviolet;
    cursor: pointer;
}