.indie-row-container{
    position: absolute;
    width: 96%;
    top: 50%;
    max-height: 20%;
    
}

.indie-row-container-home-page{
    width: 100%;
    top: 50%;
    max-height: 20%;    
    color: #c1bdda;
}

.homeHead{
    color: #c1bdda;
    padding-left: 1.5%;
    padding-top: 1.5%;
}