.container{
  text-align: center;
  background-color: #CB6CE6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.topText {
  font-family: "Open Sans", sans-serif; 
  font-size: 3vw; 
  margin-top: 5vh;
  font-weight: bold; 
  color: #FFFFFF; 
}

.centralizedBox {
  background-color: #FFFFFF;
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.topBoxTest {
  font-family: "Anonymous Pro", monospace; 
  font-size: 2vw; 
  font-weight: bold; 
  color: #000000; 
}

.emailInputField {
  width: 21vw;
  height: 4vh;
  background-color: #E2E2E2;
  border: 2px solid #E2E2E2;
  font-size: 1vw;
  margin-top: 10vh;
  color: #000000;
}

.emailInputField::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Anonymous Pro", monospace; 
  font-weight: bold; 
}

.emailInputField:focus {
  outline: none;
}

.emailInputField:focus::placeholder {
  color: transparent;
}

.passwordInputField {
  width: 21vw;
  height: 4vh;
  background-color: #E2E2E2;
  border: 2px solid #E2E2E2;
  font-size: 1vw;
  margin-top: 5vh;
  color: #000000;
}

.passwordInputField::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Anonymous Pro", monospace; 
  font-weight: bold; 
}

.passwordInputField:focus {
  outline: none;
}

.passwordInputField:focus::placeholder {
  color: transparent;
}

.loginButton {
  height: 5vh;
    width: 7vw;
    background-color: #CB6CE6;
    color: #000000;
    border: none;
    border-radius: 10vw;
    font-size: 1vw;
    cursor: pointer;
    margin-top: 5vw;
    font-family: "Anonymous Pro", monospace; 
    font-weight: bold; 
}

.loginButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 30vw;
  margin-top: 2vh;
}

.textButton {
  font-size: 1vw;
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    color: #CB6CE6;
    font-family: "Anonymous Pro", monospace; 
    font-weight: bold; 
}