body{
  background-color: #CB6CE6;
}

.container {
  text-align: center;
  background-color: #CB6CE6;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.topText {
  font-family: "Open Sans", sans-serif;
  font-size: 3vw;
  margin-top: 6vh;
  font-weight: bold;
  color: #FFFFFF;
}

.centralizedBox {
  background-color: #FFFFFF;
  min-height: 500px; 
  width: 600px; 
  margin-top: 100px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topBoxTest {
  font-family: "Anonymous Pro", monospace;
  font-size: 40px;
  font-weight: bold;
  color: #000000;
}

.emailInputField,
.passwordInputField {
  width: 300px;
  height: 32px;
  background-color: #E2E2E2;
  border: 2px solid #E2E2E2;
  font-size: 16px;
  margin-top: 30px;
  color: #000000;
}

.emailInputField::placeholder,
.passwordInputField::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
}

.emailInputField:focus,
.passwordInputField:focus {
  outline: none;
}

.emailInputField:focus::placeholder,
.passwordInputField:focus::placeholder {
  color: transparent;
}

.loginButton {
  height: 40px;
  width: 80px; 
  background-color: #CB6CE6;
  color: #000000;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
}

.loginButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-top: 50px;
}

.textButton {
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #FFFFFF;
  color: #CB6CE6;
  font-family: "Anonymous Pro", monospace;
  font-weight: bold;
}
